/* Source: https://github.com/evancz/elm-todomvc/blob/master/style.css */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
  display: flex; /* or inline-flex */
  background-color: rgba(144, 144, 255, 1);
  height: 100%;
}

div {
  border-style: solid;
  border-width: 1px;
}

/* List of data frame */
#tdv_data_list {
    width: 20%;
    height: 100%;
}

/* Area where each plot is placed */
#tdv_plot_area {
    width: 80%;
    height: 100%;
}
